{% extends "layout.html.twig" %}

{% block title %} {{ parent() }} - Edit {% endblock %}
{% block head %} <link rel="stylesheet" type="text/css" href="..\..\css\template.css"> {% endblock %}

{% block body %}

<div class="articles">
	<div class="img_art">
		<img src="..\..\image\Blog\{{ article.imageFilename }}">
	</div>
	<div class="contenu_art">
		<h2> <a href=" {{ path('article_view', {id: article.id}) }}"> {{ article.titre }} </a></h2>

		<p>
			{{ article.contenu }} 

		</p>

	</div>
	
</div>

{# {{ include('Home/Articles/_form.html.twig')}} #}
{{ form(form) }}

{% endblock %}